@model MvcBandas.Models.Banda

@{
    ViewData["Title"] = "Detalles de "+Model.Nombre;
}

<h3>Detalles de @Model.Nombre</h3>

<div>
    <h4>Banda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Vocalista)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Vocalista)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.NumeroIntegrantes)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NumeroIntegrantes)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.anioFormacion)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.anioFormacion)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Genero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">
        <i class="fas fa-pencil-alt "></i>Editar
    </a> 
    <a asp-action="Index" class="btn btn-info"> 
        <i class="fas fa-undo"></i>Regresar
    </a>
</div>
