@model MvcBandas.Models.Banda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Banda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vocalista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vocalista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroIntegrantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroIntegrantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anioFormacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anioFormacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
